/* line 1, ../compass/sass/style.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 6, ../compass/sass/style.scss */
#map {
  height: 100vh;
  width: 100%;
  float: left;
}

/* line 12, ../compass/sass/style.scss */
#list-window, #map-panel {
  position: absolute;
  top: -3px;
  right: -53px;
  height: 100%;
  width: 16%;
  float: right;
}
/* line 20, ../compass/sass/style.scss */
#list-window li, #map-panel li {
  margin-left: -40px;
  width: 33px;
  display: block;
  list-style-type: none;
  text-align: center;
}
/* line 28, ../compass/sass/style.scss */
#list-window .btn, #map-panel .btn {
  display: inline-block;
  border-radius: 5px;
  width: 107px;
  padding: 9px 0px;
}
